# ==============================================================================
# Infusion Pump Project - .gitignore
# ==============================================================================

# --- System & IDE Specific Files ---
.DS_Store
Thumba.db
.vscode/
.idea/
*.swp
*.bak

# --- Build Directories ---
# Blocks both native test build and embedded Zephyr build folders
/build/
/zephyr/build/

# --- Compilation / Cache Artifacts ---
*.o
*.obj
*.a
*.lib
*.elf
*.bin
*.hex
*.uf2
*.map
*.ninja
.ninja_*
CMakeCache.txt
CMakeFiles/
CMakeConfigureLog.yaml
cmake_install.cmake
Makefile
compile_commands.json

# --- Testing & Code Coverage ---
/coverage.info
/coverage_raw.info
/coverage_html/
CTestTestfile.cmake
Testing/
/infusion_pump_tests

# --- Stray Serial Monitor Log Files ---
# Safely blocks the terminal artifacts while keeping valid source code
!**/src/
!**/include/
!**/tests/
!**/zephyr/
*!-Aacccc*
*ion_pump>*
*START===*
*tem Status]*
*sed Steps]*
/ST
/: no